/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset per le immagini */
img{
    max-width: 100%;
}
/* ROOT */
:root{
    --bb-border: 1px dashed black;
}
/* classe per il body */
body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* classe per tutti i link */
a{
    text-decoration: none;
    color: inherit;
}
/* classe per tutti i li */
li{
    color: white;
}
/* classe per gli sfondi grigi */
.b-gray{
    background-color: #d3d3d3;
}
/* classe per l'header */
header{
    min-height: 650px;
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/* classe per il nav  */
nav{
    background-color: #255ee9;
    padding: 1rem;
}
/*classe per il container del nav  */
.flex-container-nav{
    width: 70%;
    margin: 0 auto;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
/* classe per il logo nell'header */
.login-header{
    color: black;
    background-color: white;
}
/* classe per la lista */
.flex-list{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
/* classe per tutti i li della lista */
.flex-list li{
    margin: 0 0.5rem;
}
/* classe per il blocco dentro l'header */
.block-header{
    margin: 0 auto;
    padding: 10rem;
    width: 60%;
    min-height: 300px;
    text-align: center;
}
/*classe per il titolo della pagina*/
h1{
    font-size:  3rem;
    color: #ffffff ;
    padding: 1rem;
}
/* classe per il p dell'header */
.block-header p {
    color: #ffffff ;  
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}
/* classe in comune per tutti i bottoni */
.button{
    padding: 0.8rem;
    border-radius: 30px;
}
/* classe per il bottone del download per mac */
.download-mac{
    background-color: white;
    color: #16191d;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}
/* classe per il bottone del download per windows */
.download-windows{
    background-color:  #23272a;
    color: #dfe5e5;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
}
/* classe per la parte superiore del main */
.section-main-top{
    min-height: 500px;
    padding: 3rem;
}
/* classe per le sezioni del main superiore */
.flex-section{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    min-height: 400px;
    border: var(--bb-border);
}
/* classe per i blocchi blu */
.block-blu{
    width: 60%;
    min-height: 400px;
    background-color: #1e90ff;
    border: var(--bb-border);
}
/* classe per i blocchi rosa */
.block-rosa{
    width: 40%;
    min-height: 400px;
    background-color: #ffc0cb;
    border: var(--bb-border);
}
/* classe per la sezione del main inferiore*/
.section-main-bottom{
    min-height: 1000px;
    padding: 3rem;
}
/* classe per la sezione del blocco singolo*/
.flex-section-block{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    min-height: 900px;
    border: var(--bb-border);
}
/* classe per il blocco verde */
.block-verde{
    min-height: 800px;
    width: 100%;
    background-color: #228b22;
}
/* classe per la parte superiore del footer  */
.footer-top{
    width: 100%;
    min-height: 600px;
    background-color: #23272a;
    padding: 3rem;
}
/* classe flex per il container del footer */
.flex-container-footer{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    min-height: 400px;
    border: var(--bb-border);
}
/* classe per il blocco rosso */
.block-red{
    min-height: 500px;
    width: calc((100% / 6) * 2);
    background-color:#f08080;
    border: var(--bb-border);
}
/* classe per il blocco celeste */
.block-celeste{
    min-height: 500px;
    width: calc(100% / 6);
    background-color:#20b2aa;
    border: 1px dashed white;
}
/* classe per la parte inferiore del footer */
.footer-bottom{
    min-height: 100px;
    width: 100%;
    background-color: #23272a;
    padding: 3rem;
}
/*classe per la parte flex del footer inferiore  */
.flex-footer-bottom{
    width: 70%;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#7fffd4;
    align-items: center;
}
/* classe per il logo e il bottone nel footer */
.logo-footer , .botton{
    background-color:#ffb6c1;
    border: var(--bb-border);
    font-size: 20px;
    padding: 0.5rem;
}