/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset per le immagini */
img{
    max-width: 100%;
}
/* ROOT */
:root{
    --bb-border: 1px dashed black;
}
/* classe per il body */
body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* classe per tutti i link */
a{
    text-decoration: none;
    color: inherit;
}
/* classe per tutti i li */
li{
    color: white;
    margin-top: 1.5rem;
    font-weight: normal;
}
/* classe per gli sfondi grigi */
.b-gray{
    background-color: #f6f6f6;
}
/* classe per l'immagine dell'onda */
.onda{
    width: 100%;
    filter: invert(97%);
}
/* classe per girare l'immagine dell'onda */
.invert{
    rotate: 180deg;
}
/* classe per l'header */
header{
    min-height: 650px;
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/* classe per il nav  */
nav{
    background-color: #255ee9;
    padding: 1rem;
}
/*classe per il container del nav  */
.flex-container-nav{
    width: 70%;
    margin: 0 auto;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
/* classe per il logo nell'header */
.login-header{
    color: black;
    background-color: white;
}
/* classe per la lista */
.flex-list{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
/* classe per tutti i li della lista */
.flex-list li{
    margin: 0 0.5rem;
}
/* classe per il blocco dentro l'header */
.block-header{
    margin: 0 auto;
    padding: 10rem;
    width: 60%;
    min-height: 300px;
    text-align: center;
}
/*classe per il titolo della pagina*/
h1{
    font-size:  3rem;
    color: #ffffff ;
    padding: 1rem;
}
/* classe per il p dell'header */
.block-header p {
    color: #ffffff ;  
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}
/* classe in comune per tutti i bottoni */
.button{
    padding: 0.8rem;
    border-radius: 30px;
}
/* classe per il bottone del download per mac */
.download-mac{
    background-color: white;
    color: #16191d;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}
/* classe per il bottone del download per windows */
.download-windows{
    background-color:  #23272a;
    color: #dfe5e5;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
}
/* classe per la parte superiore del main */
.section-main-top{
    min-height: 500px;
    padding: 3rem;
}
/* classe per le sezioni del main superiore */
.flex-section{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    min-height: 400px;
}
/* classe per i blocchi con l'immagine */
.block-img{
    width: 60%;
    min-height: 400px;
}
/* classe per i blocchi con il testo */
.block-text{
    width: 40%;
    min-height: 400px;
}
/* classe per il titolo del blocco con il testo */
.block-text h2 {
    font-size: 3.7rem;
    color: #000000;
    margin-bottom: 1rem;
}
/* classe per il paragrafo del blocco con il testo */
.block-text p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #000000;
}
/* classe per la sezione del main inferiore*/
.section-main-bottom{
    min-height: 1000px;
    padding: 3rem;
}
/* classe per la sezione del blocco singolo*/
.flex-section-block{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}
/* classe per il blocco grande */
.block-big{
    text-align: center;
    padding: 3rem;
    width: 100%;
}
/* classe per il titolo del blocco grande */
.block-big h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #000000;
}
/* classe per il paragrafo del blocco grande */
.block-big p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #000000;
}
/* classe per lo sfondo del sotto titolo */
.under-title{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    padding: 3rem;
}
/* classe per il sotto titolo del blocco grande */
.under-title h3{
    font-size: 1.5rem;
    color: #070000;
}
/* classe per il bottone nel blocco grande */
.main-mac{
    background-color: #7289da ;
    color: #fffefe;
}
/* classe del footer */
footer{
    background-color: #23272a;
}
/* classe per la parte superiore del footer  */
.footer-top{
    width: 100%;
    min-height: 600px;
    padding: 3rem;
}
/* classe flex per il container del footer */
.flex-container-footer{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    min-height: 400px;
}
/* classe per il blocco dei social */
.block-social{
    min-height: 500px;
    width: calc((100% / 6) * 2);
}
/* classe per il titolo nel footer */
h4{
    font-size: 2.5rem;
    color: #7289da;
}
/*classe per la selezione delle lingue  */
.selection-language{
    margin-top: 1.5rem;
}
/* classe per la bandiera italiana */
.italian-flag{
    height: 1rem;
}
/* classe per la lingua */
.language{
    color: white;
}
/* classe per i social */
.social{
    margin-top: 1rem;
}
/*  classe per le icone dei social*/
.social-icon{
    color: white;
    margin-right: 1.5rem;
}
/* classe per il blocco delle informazioni*/
.block-info{
    min-height: 500px;
    width: calc(100% / 6);
}
/* classe per la lista delle informazioni */
ul{
    list-style-type: none;
    color: #7289da;
    font-weight: bold;
}
/* classe per la riga */
hr{
    margin: 0 auto;
    width: 70%;
    border: 1px solid #3f4968;
}
/* classe per la parte inferiore del footer */
.footer-bottom{
    min-height: 100px;
    width: 100%;
}
/*classe per la parte flex del footer inferiore  */
.flex-footer-bottom{
    width: 70%;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* classe per il bottone della registrazione */
.registrazione{
    color: white;
    background-color: #7289da;
}